<h1>Listing articles</h1>
 
 <h1> Hello, Rails</h1>
<%= link_to 'My Blog', controller: 'posts'%>
<%= link_to 'New Post', new_post_path%>
<center><%=paginate @fetch_posts %></center>
<table border=1>
  <tr>
    <th>ID</th>
    <th>Title</th>
    <th>Text</th>
    <th></th>
    <th></th>
  </tr>
  <br>
  <br>
  <br><br>
 
  <% @fetch_posts.each do |f| %>
    <tr>
      <td><%= f.id %></td>
      <td><%= f.title %></td>
      <td><%= f.text %></td>
      <td><%= link_to 'Show', post_path(f)%></td>
      <td><%= link_to 'Edit', edit_post_path(f)%></td>
      <td><%= link_to 'Delete?', post_path(f), method: :delete, data: {confirm: 'Are you fucking sure?'}%>
    </tr>
  <% end %>
</table>
<center><%=paginate @fetch_posts %></center>