<!-- Posts Listing Block -->
<p>
  <strong>Title:</strong>
  <%= @fetch_post.title %>
</p>
 
<p>
  <strong>Text:</strong>
  <%= @fetch_post.text %>
</p>

<!-- Comment Block -->
<h2> Comments:</h2>
<%= render @fetch_post.comments %>

<!-- Comment Form Block -->
<h2> Add a comment: </h2>
<%= render 'comments/form'%>
<%= link_to "Back to listing", posts_path%>	<br>
<%= link_to "Edit", edit_post_path(@fetch_post)%>